body{ font-size: 20px;
}

.principal{text-align: center;
    background-color: gray;}

.alinhar{text-align: center;}

.destaque {color :red}

.imagem {width: 100%;}

.lista{ display: inline-block;
    vertical-align: top;

    margin-rigth: 15%;

}
.imagem_beneficios{
    width: 50%;}

.titulo-prncipal{padding-left: 20px;}
